div.material button{
	background: #1a73e8;
	padding: 12px;
	font-size: 16px;
	color: #fff;
	border-radius: 5px;
	border: 0;
	width: 100%;
}
div.material button:hover{
	background: #1151a5;
}
div.material button:disabled{
	background: #77acf1;
}
