@use '@a01sa01to/ui/_reset.scss';

main {
  padding: 1rem;
}

p {
  margin: 1rem 0;
}

h2 {
  border-bottom: 1px solid #0877d7;
  border-left: 1rem solid #0877d7;
  padding-left: 0.5em;
}

h3 {
  border-bottom: 1px dashed #0877d7;
  padding-left: 0.5em;
}
