@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

main div.material.radio{
	position: relative;
	display: block;
	min-height: 40px;
	width: 100%;
	input[type=radio]{
		position: absolute;
		top: 8px;
		left: 8px;
		width: 32px;
		height: 32px;
		margin: 0px;
		z-index: 1;
		opacity: 0;
		& + label{
			position: absolute;
			top: 10.5px;
			left: 8px;
			font-size: 18px;
			display: flex;
			align-items: center;
			&::before{
				// ----------  Material Icons ---------- //
				font-family: 'Material Icons';
				font-weight: normal;
				font-style: normal;
				// font-size: 24px;  /* Preferred icon size */
				// font-size: 18px;
				font-size: 28px;
				display: inline-block;
				line-height: 1;
				text-transform: none;
				letter-spacing: normal;
				word-wrap: normal;
				white-space: nowrap;
				direction: ltr;
				/* Support for all WebKit browsers. */
				-webkit-font-smoothing: antialiased;
				/* Support for Safari and Chrome. */
				text-rendering: optimizeLegibility;
				/* Support for Firefox. */
				-moz-osx-font-smoothing: grayscale;
				/* Support for IE. */
				font-feature-settings: 'liga';
				// ------------------------------------- //

				content: "radio_button_unchecked";
				transition: 500ms;
				// width: 18px;
				// height: 18px;
				// border-radius: 3px;
				// border: 1.5px #aaa solid;
				// // padding-left: 24px;
				// font-size: initial;
				margin-right: 5px;
				color: #aaa;
				// border-radius: 50%;
				// padding-left: 2px;
				// padding-top: 2px;
			}
			&::after{
				content: attr(data-value);
			}
		}
		&:checked + label::before{
			color: #1a73e8;
			content: "radio_button_checked";
		}
		&:disabled + label{
			color: #888;
			&::before{
				color: inherit;
			}
		}
	}
}
